#container {
    border: 1px solid red;
    width: 300px;
    margin: 30px auto;
    padding: 10px;
    background-color: whitesmoke;
    display: grid;
    grid-template-areas:
        "a a ."
        "b . c"
        ". d ."
        "e e e";
    grid-template-columns: 2fr 1fr 1fr;
    gap: 5px;
}

.item {
    border: 1px solid blue;
    background-color: lightgray;
}

.sub-container {
    border: 3px solid yellow;
    padding: 8px;
    display: grid;
    grid-template-areas:
        "y x";
    gap: 20px;
}

.sub-item {
    padding: 4px;
    text-align: center;
    border: 3px solid orange;
    background-color: lightyellow;
}

#id-a {
    grid-area: a;
}

#id-b {
    grid-area: b;
}

#id-c {
    grid-area: c;
}

#id-d {
    grid-area: d;
}

#id-e {
    grid-area: e;
}

#id-x {
    grid-area: x;
}

#id-y {
    grid-area: y;
}
